In [1]:
import sys
sys.path.append('/content/drive/MyDrive/Colab Notebooks/clustering/src')

!pip install pymysql
import prepare

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as scs

from sklearn.feature_selection import SelectKBest, f_regression

X_train, X_test, X_val, y_train, y_test, y_val = prepare.wrangle_zillow(test_size=.10, k=3, thresh=.4)

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
These columns were dropped.
                          missing count  missing %
airconditioningtypeid             49095   0.680722
architecturalstyletypeid          71916   0.997144
basementsqft                      72072   0.999307
buildingclasstypeid               72122   1.000000
decktypeid                        71508   0.991487
finishedfloor1squarefeet          66101   0.916516
finishedsquarefeet13              72081   0.999432
finishedsquarefeet15              72111   0.999847
finishedsquarefeet50              66101   0.916516
finishedsquarefeet6               71955   0.997684
fireplacecnt                      63861   0.885458
garagecarcnt                      46826   0.649261
garagetotalsqft                   46826   0.649261
hashottuborspa                    70585   0.978689
poolcnt                           56399   0.781994
poolsizesum                       71255   0.987979
pooltypeid10                      71659   0.993580
pooltypeid2                       71048   0.985109
pooltypeid7                       57491   0.797135
regionidneighborhood              43905   0.608760
storytypeid                       72072   0.999307
threequarterbathnbr               62029   0.860057
typeconstructiontypeid            71900   0.996922
yardbuildingsqft17                69735   0.966903
yardbuildingsqft26                72052   0.999029
numberofstories                   54776   0.759491
fireplaceflag                     71950   0.997615
taxdelinquencyflag                69517   0.963881
taxdelinquencyyear                69517   0.963881
5781 outliers dropped.

These are the counts of missing data.
Missing data is replaced with the median.
logerror                      0
bathroomcnt                 201
bedroomcnt                  424
buildingqualitytypeid     25668
finishedsqft                142
                          ...
buildinglandvalueratio       63
taxrate                       0
age                         171
acres                      7821
sqftvalue                   142
Length: 411, dtype: int64
X_train (53071, 412), X_test (6635, 412), X_val (6635, 412)
y_train (53071,), y_test (6635,), y_val (6635,)



Your target variable is logerror.

1. Is target significantly different for properties in LAC vs OC vs VC?
2. Divide age of house into bins; same question for age bins.
3. What are the top five features for predicting target?
4. Is there a linear relationship between price per square foot and target? (Pearson r)
5.  Compute the mean(logerror) by zipcode and the overall mean(logerror). Run a t-test between the overall mean and the mean for each zip code. What zip codes have an error significantly higher or lower than the expected error?

Answer those questions through a mix of statistical tests and visualizations.

In [2]:
X_train.head()

          bathroomcnt  bedroomcnt  ...  age_bins       county
parcelid                           ...
14477967          3.5         4.0  ...         0       Orange
10802963          2.0         3.0  ...         0  Los Angeles
12905905          2.0         3.0  ...         1  Los Angeles
11323120          3.0         4.0  ...         0  Los Angeles
12012529          1.0         3.0  ...         1  Los Angeles

[5 rows x 412 columns]

In [3]:
X_train.age.describe()

count    53071.000000
mean        47.861469
std         22.653113
min          2.000000
25%         31.000000
50%         46.000000
75%         63.000000
max        139.000000
Name: age, dtype: float64

In [4]:
lac = y_train[X_train.county=="Los Angeles"]
oc = y_train[X_train.county=="Orange"]
vc = y_train[X_train.county=="Ventura"]

lac_oc = scs.mannwhitneyu(lac, oc)
lac_vc = scs.mannwhitneyu(lac, vc)
vc_oc = scs.mannwhitneyu(vc, oc)

print("p-values comparing means of logerrors\n")
print(f"LAC, OC: {lac_oc[1]}")
print(f"LAC, VC: {lac_vc[1]}")
print(f"VC, OC: {vc_oc[1]}")

p-values comparing means of logerrors

LAC, OC: 0.00030176234103153864
LAC, VC: 0.0025621713578281185
VC, OC: 0.26378036682924066

In [5]:
new = y_train[X_train.age_bins==0] #newer
old = y_train[X_train.age_bins==1]

new_old = scs.mannwhitneyu(new, old)

print("p-values comparing means of logerrors\n")
print(f"Newer, older: {new_old[1]}")

p-values comparing means of logerrors

Newer, older: 0.00020436392296943533

In [8]:
SelectKBest(f_regression, k=5).fit_transform(X_train.iloc[:,:-1], y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms

array([[3.50000000e+00, 4.00000000e+00, 3.69600000e+03, 0.00000000e+00,
        2.08305195e+02],
       [2.00000000e+00, 3.00000000e+00, 1.56000000e+03, 0.00000000e+00,
        1.43364103e+02],
       [2.00000000e+00, 3.00000000e+00, 1.43800000e+03, 0.00000000e+00,
        2.43244784e+02],
       ...,
       [3.00000000e+00, 3.00000000e+00, 2.01800000e+03, 0.00000000e+00,
        2.64125372e+02],
       [2.00000000e+00, 1.00000000e+00, 1.39100000e+03, 0.00000000e+00,
        2.46937455e+02],
       [1.00000000e+00, 3.00000000e+00, 1.17700000e+03, 0.00000000e+00,
        4.68189465e+02]])

In [9]:
scs.pearsonr(X_train.sqftvalue, y_train)

(-0.03786884250807705, 2.6192361818347367e-18)

In [ ]:
mean_error = y_train.mean()
zips = set(X_train.regionidzip)
alpha = .01
for zip_ in zips:
  y_zip = y_train[X_train.regionidzip==zip_].values.reshape(1,-1)
  y_mean = np.zeros([1, len(y_zip[0])]) + mean_error
  res = scs.mannwhitneyu(y_zip, y_mean)
  if res[1] < alpha:
    print(f"{zip_}: {res[1]}")